@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

body {
    background-color: darkgray;
    /* height: 100vh; */
    margin: 0;
    font-family: 'Roboto', 'Zilla Slab Highlight';
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: 20px;
}

/*Gets rid of the underline*/
a {
    text-decoration: none;
    /*Spacing between "About Me" and "My Work"*/
    padding: 1em;
}

ul {
    /*Gets rid of the bullet points*/
    list-style-type: none;

    margin: 0;
    padding: 10em;

    /*"About Me" and "My Work" will be next to each other
    instead of stacking on top of each other*/
    display: flex;
}

#github {
    width: 5%;
    padding: 0;
}

.nav-topBar {
    color: blue;
    background-color: rgb(97, 97, 110);
}


.Information {
    font-size: 35px;
    font-family: 'Zilla Slab Highlight';
}



/*This is what normal paragraph text will look like*/
p {
    font-size: 15px;
    padding: 1em;
    /* margin: 1em; */
}

/*Did not want the size of the images to be too large*/
#placeholder1, #placeholder2, h3 {
    width: 30%;
    padding: 1em;
}
